$color: black;
$accent: mediumvioletred;
$ui-accent: greenyellow;
$ui-accent-light: darkseagreen;
$ui-accent-bright: limegreen;
$error: $accent;

body {
	background-color: $color;

	h1 {
		color: $ui-accent;
		font-size: 3rem;
    text-align: center;
  }

	main {
		font-family: 'Coming Soon', cursive;
	}

	button {
		display: block;
		font-family: inherit;
		font-size: 1rem;
    font-weight: bolder;
	}
}

.tab-container {
	button {
		&.active {
			background-color: $accent;
		}
	}
	section {
		p {
			color: white;
		}
		.choice-container{
			display: flex;
		}
	}
}

.friends-wrapper {
	display: flex;

	.friend-block {
	  color: white;
	  border: 1px solid white;
	  flex: 1;
	  height: 250px;
	  margin: 0 1rem;
	  min-width: 100px;
	}

	.terror-meter {
		svg {
		  border: 2px solid $ui-accent;
    }
	}
}

#message-console {
	p {
		color: white;
	}
}
.error {
	color: $error;
}

.intro {
	color: white;	

	button {
		background-color: $ui-accent;
    border-color: $ui-accent-light;
		margin: 0 auto;
		width: 200px;

		&:hover {
				background-color: $ui-accent-bright;
		}
	}
}

#story {
	font-family: sans-serif;
	font-size: 1.6rem;

	b {
		font-weight: bold;
		font-size: 2rem;
	}
}